{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<h2>Portfolio</h2>

<table class="table table-striped">
<thead>
<tr>
<th>Symbol</th>
<th>Shares</th>
<th>Current Price</th>
<th>Total Value</th>
</tr>
</thead>
<tbody>
<!-- Display Cash Balance -->
<tr>
<td>Cash</td>
<td></td>
<td></td>
<td>{{ balance | usd }}</td>
</tr>

    <!-- Display Owned Assets -->
    {% for asset in port %}
    <tr>
        <!-- Using "symbol" and the corrected "total_shares" key -->
        <td>{{ asset["symbol"] }}</td>
        <td>{{ asset["total_shares"] }}</td>
        
        <!-- Using the cleaner data added in application.py's index() function -->
        <td>{{ asset["current_price"] | usd }}</td>
        <td>{{ asset["total_value"] | usd }}</td>
    </tr>
    {% endfor %}

    <!-- Display Net Total -->
    <tr>
        <td><b>Net Total</b></td>
        <td></td>
        <td></td>
        <td>{{ total_bal | usd }}</td>
    </tr>
</tbody>

</table>

{% endblock %}